.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    h1 {
        margin-bottom: 20px;
        margin-top: 25px;
    }

    .description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .comparison {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .player-1,
        .player-2 {
            width: 45%;
        }

        input {
            width: calc(100% - 20px);
            margin-bottom: 10px;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

        ul {
            list-style: none;
            padding: 0;
            max-height: 200px;
            overflow-y: auto;

            li {
                padding: 8px 16px;
                margin: 4px 0;
                background-color: #f0f0f0;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: #e0e0e0;
                }
            }
        }

        .player-stats {
            margin-top: 20px;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 4px;
            background-color: #f9f9f9;

            h2 {
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 8px;
            }
        }
    }
}
